/* Projects display */
#projects aside {
  border: 1px solid #5F819E;
  padding: 20px 25px;
}
#projects aside ul {
  padding-left: 0;
  margin: 0;
}
#projects aside ul li {
  font-size: 0.9em;
  list-style-type: none;
}

/* Blog display */
#blog h2 {
  margin-bottom: 0;
  color: #5F819E;
}

.byline {
  margin-top: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 0.8em;
}
hr {
  color: #6F7274;
}

/* Blog post form */
#blog-fields label {
  display: block;
  width: 100%;
}
#blog-fields input,
#blog-fields textarea {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Crimson-Text', sans-serif;
  font-size: 0.95em;
  line-height: 1.6em;
}
/*input.checkbox {
  display: inline;
}*/
#blog-fields input.button {
  display: inline-block;
  width: auto;
}

/* Blog preview */
#preview .blog-post {
  border: 1px solid #44BBA4;
  padding: 10px;
  margin-top: 0;
}
