@import url('https://fonts.googleapis.com/css?family=Roboto|Crimson+Text');

* {
  font-family: 'Roboto', sans-serif;
  color: #393E41;
}

header {
  border-bottom: 1px solid #393E41;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.13em;
}

p {
  line-height: 1.5em;
}

ul {
  line-height: 1.5em;
}
