/* Project rules */
article.template {
  display: none;
}

/* Blog display */
#blog h2 {
  margin-top: 50px;
  margin-bottom: 0;
}

.byline {
  margin-top: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 0.8em;
}
hr {
  color: #6F7274;
}

/* Blog post form */
#blog-fields label {
  display: block;
  width: 100%;
}
#blog-fields input,
#blog-fields textarea {
  width: 100%;
  margin-bottom: 20px;
}
/*input.checkbox {
  display: inline;
}*/
#blog-fields input.button {
  display: inline-block;
  width: auto;
}
