/* Nav rules */
nav {
  border-bottom: 1px solid black;
  min-height: 32px;
}

nav i.menu {
  padding: 6px 6px 6px 0;
  float: right;
}

ul#connect-nav i {
  padding-right: 2px;
}

nav ul {
  display: none;
  margin:0;
}

nav ul li {
  list-style: none;
  padding: 5px 0;
  font-size: 0.7em;
  text-transform: uppercase;
}

nav:hover ul {
  display: block;
}
